html, body {
	background-color: #222222;
	padding: 0;
	margin: 0;
	font-size: 14px;
	cursor: default;
	height: 100%;
}

.container {
	display: grid;
  	grid-template-columns: 25% 75%;
    width: 100%;
}

.leftMenu {
	width: 100%;
	height: 100vh;
	border-right: 1px solid #2B2B2B;
	color: #D3D3D3;
	padding: 20px 0px 20px 20px;
}

.rightMenu {
    height: 100vh;
    color: #D3D3D3;
    padding: 0px;
	padding-left: 20px;
}
.trFather1 svg path:last-child{
	fill: #4FC3F7;
	stroke: #4FC3F7;
}

.trFather1 svg path:first-child{
	stroke: #4FC3F7;
}

.trFather2 td{
	padding-left: 30px;
}

.trFather2 svg path:last-child{
	fill: #7EB94D;
	stroke: #7EB94D;
}

.trFather2 svg path:first-child{
	stroke: #7EB94D;
}

.trFather3 td{
	padding-left: 60px;
}

.trFather3 svg path:last-child{
	fill: #FC618D;
	stroke: #FC618D;
}

.trFather3 svg path:first-child{
	stroke: #FC618D;
}

.trSon td{
	padding-left: 90px;
	cursor: pointer;
}

.trSon td:hover{
	color: #FCE566;
}

svg {
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

.arrow g path{
	fill: #D3D3D3 !important;
	stroke: #D3D3D3 !important;
}

.arrow {
	cursor: pointer;
}

.arrow:hover g path, .arrow:active g path, .close:hover path {
	fill: #FCE566 !important;
	stroke: #FCE566 !important;
}

.smallDark {
	font-size: x-small;
    color: #808080;
}

.dark {
    color: #808080;
}

td {
	padding-bottom: 5px;
}

.arrowUp {
	transform: rotate(180deg);
}

.hide {
  	opacity: 0;
}

tr {
  	opacity: 1;
	transition: opacity 0.2s linear;
}

.abas {
	width: 100%;
    height: 50px;
	border-bottom: 1px solid #2B2B2B;
	display: -webkit-inline-box;
	position: fixed;
    background-color: #222222;
}

.aba {
	width: max-content;
    padding: 15px 20px 15px 20px;
    opacity: 0.9;
	font-size: 14px;
}

.aba:not(.inactive) {
    background-color: #2B2B2B;
}

.aba svg {
	width: 15px;
	height: 15px;
}

.close {
	margin-left: 7px;
	cursor: pointer;
}

.aba.active {
	border-bottom: 2px solid #FCE566;
}

.aba.inactive:hover {
	background-color: #2B2B2B;
}

.aba.inactive {
	cursor: pointer;
}

.trSon.active {
	color: #FCE566;
}

.numberLines, .numberLines2 {
	width: 1%;
    padding-left: 40%;
    padding-right: 55%;
	border-left: 1px solid #2B2B2B;
}

p {
	margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.archives {
	display: grid;
    grid-template-columns: 1fr 16fr;
    width: 100%;
}

.reservedWord {
	color: #C2185B;
	font-style: italic;
}

.tagPHP {
	color: #EF5350;
	font-style: italic;
}

.string {
	color: #FBE464;
}

.bodyClass {
  	font-family: "JetBrains Mono", monospace;
	margin-top: 50px;
}

.identy1 {
	margin-left: 40px;
}

.identy2 {
	margin-left: 80px;
}

.identy3 {
	margin-left: 120px;
}

.identy4 {
	margin-left: 160px;
}

.miniFoto {
	width: 15px;
    vertical-align: bottom;
	cursor: pointer;
}

.miniFoto:hover {
	opacity: 0.7;
}

#divLargerImage
{
    display: none;
    position: absolute;
	top: 10%;
    left: 40%;
    z-index: 99;
}

.circles {
	display: inline-flex;
}

.circle {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
    background-color: #D3D3D3;
	margin-right: 5px;
}

.preenchido {
	background-color: #C2185B;
}

a {
	color: #4fc3f7;
}

table {
	position: fixed;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #222222;
}

*::-webkit-scrollbar-track:hover {
  background-color: #222222;
}

*::-webkit-scrollbar-track:active {
  background-color: #222222;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #808080;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}

.pdf {
	cursor: pointer;
	width: 15px;
	height: 15px;
	vertical-align: top;
}

.pdf:hover, .projects:hover {
	opacity: 0.7;
}

.projects {
	cursor: pointer;
	width: 17px;
	height: 17px;
}

.carousel {
	box-shadow: 2px 2px 4px black;
	overflow: hidden;
	height: 360px;
	width: 640px;
    position: absolute;
	top: 20%;
    left: 50%;
    z-index: 99;
	display: none;
}

.containerCarousel {
	display: flex;
	transition: transform 0.7s ease-in-out;
	transform: translateX(0);
}

#imgCarousel {
	object-fit: contain;
    width: 100%;
    height: 100%;
}

#imgCarousel img {
    width: 100%;
    height: 100%;
}

.botoesCarousel {
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
	transition: transform 0.7s ease-in-out;
}

.botoesCarousel svg {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.botoesCarousel svg:hover {
	opacity: 0.7;
}

.noCursor {
	cursor: default !important;
}